label {
    margin: 20px;
}

.contentC {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    box-shadow: 0 0 20px 10px #515E6B;
    border: #ffffff;
    border-style: solid;
    padding: 10px;
}

fieldset{
    border: 2px solid #515E6B;
}

input[type=text] {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #6CA6E1;
    box-shadow: 0 0 10px 2px #515E6B;
    color: #515E6B;
    font-size: 25px;
    margin: 20px 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=date] {
    width: 30%;
    background-color: #ffffff;
    color: #515E6B;
    border: 2px solid #6CA6E1;
    box-shadow: 0 0 10px 2px #515E6B;
    font-size: 25px;
    margin: 20px 5px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}

input[type=radio] {
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #515E6B;
    margin: 10px 5px;
    box-sizing: border-box;
}

input[type=text]:focus {
    box-shadow: 0 0 5px 2px #6CA6E1;
}

input[type=date]:focus {
    box-shadow: 0 0 5px 2px #6CA6E1;
}

input[type=radio]:focus {
    box-shadow: 0 0 5px 2px #6CA6E1;
}

input[type=button], [type=submit]
{
    cursor: pointer;
    width: 350px;
    background-color: #515E6B;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 25px;
    margin: 20px 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=button]:hover, [type=submit]:hover
{
    background-color: #6CA6E1;
    box-shadow: 0 0 10px 2px #515E6B;
}

input[type=button]:focus, [type=submit]:focus
{
    box-shadow: 0 0 5px 2px #6CA6E1;
}

input::-webkit-input-placeholder
{
    color: #C7CFD6;
}

select {
    width: 30%;
    background-color: #ffffff;
    color: #515E6B;
    border: 2px solid #6CA6E1;
    box-shadow: 0 0 10px 2px #515E6B;
    font-size: 25px;
    margin: 20px 5px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}

select:focus {
    box-shadow: 0 0 5px 2px #6CA6E1;
}