.content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.set {
    box-shadow: 0 0 20px 10px #515E6B;
    border: #ffffff;
    border-style: solid;
    margin: 20px;
    padding: 20px;
}

.settingTitle {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 0px black,
                 1px 1px 1px black,
                 1px 1px 3px black;
    margin: 20px;
}

input[type=button], [type=submit]
{
    cursor: pointer;
    width: 100%;
    background-color: #515E6B;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 25px;
    margin: 20px 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=email], [type=password] {
    width: 50%;
    background-color: #ffffff;
    border: 2px solid #6CA6E1;
    box-shadow: 0 0 10px 2px #515E6B;
    color: #515E6B;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=button]:hover, [type=submit]:hover
{
    background-color: #6CA6E1;
    box-shadow: 0 0 10px 2px #515E6B;
}

input[type=button]:focus, [type=submit]:focus
{
    box-shadow: 0 0 5px 2px #6CA6E1;
}
