.rectangle {
  width: 100%;
}

.tileB {
  background-color: #515e6b;
  float: left;
  width: 400px;
  height: 400px;
  margin: 70px;
  border: #ffffff;
  border-style: solid;
  font-size: 35px;
  text-align: center;
  box-shadow: 0px 0px 30px #6ca6e1;
  padding: 3px;
}

.tileB:hover {
  box-shadow: 0 0 30px #515e6b;
  background-color: #6ca6e1;
}

a.tilelink {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 410px;
  height: 410px;
}

.wrapper {
  margin: 0px;
}

#logout {
  background-color: #515e6b;
  float: left;
  width: 930px;
  height: 100px;
  margin: 70px;
  font-size: 40px;
  text-align: center;
  border: #ffffff;
  border-style: solid;
  padding: 20px;
  box-shadow: 0px 0px 30px #6ca6e1;
}

#logout:hover {
  background-color: #6ca6e1;
  box-shadow: 0 0 30px #515e6b;
}

a.logoutlink {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 970px;
  height: 100px;
}

#mail {
  background-color: #515e6b;
  float: left;
  width: 930px;
  height: 100px;
  margin: 70px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
  border: #ffffff;
  border-style: solid;
}

.tileP {
  background-color: #515e6b;
  color: #ffffff;
  float: left;
  width: 400px;
  height: 400px;
  margin: 70px;
  border: #ffffff;
  border-style: solid;
  text-align: center;
  padding: 3px;
  font-size: 35px;
}

input[type="submit"] {
  cursor: pointer;
  width: 40%;
  background-color: #515e6b;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 15px;
  margin: 20px 5px;
  padding: 2px;
  box-sizing: border-box;
  outline: none;
}

input[type="button"]:hover,
[type="submit"]:hover {
  background-color: #6ca6e1;
  box-shadow: 0 0 10px 2px #515e6b;
}

input[type="number"] {
  cursor: pointer;
  width: 50%;
  height: 5%;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 15px;
  margin: 20px 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
.icon-mail-alt:before {
  content: "\f0e0";
  font-size: 50px;
} /* '' */
.icon-user-times:before {
  content: "\f235";
  font-size: 290px;
} /* '' */
